<!DOCTYPE html> 
<html>

<head>
    <title>Radiant sports equipment</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <header>
            <h1 style="text-align: center; font-family: Arial, sans-serif;" v-text="sitename"></h1>
            <button v-on:click="showCheckout">
                {{ checkoutButtonText }}
                <span class="fas fa-cart-plus"></span>
            </button>
            <label for="sort">Sort by:</label>
            <select id="sort" v-model="sortCriteria" @change="sortProducts">
                <option value="default">Default</option>
                <option value="location">location</option>
                <option value="title">Title</option>
                <option value="price">Price</option>
            </select>
            <div class="search-container" style="text-align: center; font-family: Arial, sans-serif;">
                <label for="search" style="font-size: 20px;">Search:</label>
                <input type="text" id="search" v-model="searchQuery" @input="performSearch" style="width: 300px; height: 30px; font-size: 16px;" />
                <button @click="clearSearch" style="font-size: 16px;">Clear</button>
            </div>
            
        </header>
        <main>
            <div v-if="showProduct" >
                <div v-for="product in products">
                    <div class="product-card">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                        <h2 v-text="product.subject"></h2>
                        <p><strong>location:</strong> {{ product.location }}</p>
                        <p>Price: {{ product.price }}</p>
                        <p>Available stock: {{ product.availableInventory }}</p>
                        <div>
                            <span v-for='n in product.rating'>★</span>
                            <span v-for='n in 5-product.rating'>☆</span>
                        </div>
                        <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to cart</button>
                        <button disabled='disabled' v-else>Add To Cart</button>

                        <span v-if='product.availableInventory===cartCount(product.id)'>All
                            out!</span><span v-else-if="product.availableInventory - cartCount(product.id) < 5">Only
                            {{product.availableInventory - cartCount(product.id)}} left!</span><span v-else>Buy
                            now!</span>
                    </div>
                </div>
            </div>
            <div v-else>
                <h1>Cart</h1>
                <table class="table align-middle table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th class="text-end">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product,index in cartDetails">
                  <td>{{index+1}}</td>
                  <td>
                    <p class="mb-0">{{product.subject}}</p>
                    <p class="mb-0 small text-muted">{{product.location}}</p>
                  </td>
                  <td class="text-end">
                    <p class="mb-0 small text-muted">{{product.quantity}}x{{product.price}}</p>
                    <p class="mb-0">AED {{product.total}}</p>
                  </td>
                  <td class="text-center">
                    <button @click="removeFromCart(product)" class="btn btn-sm btn-outline-danger rounded-4"
                      data-mdb-ripple-init data-mdb-ripple-color="dark">
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
                
                <h1 style="font-family: Arial, sans-serif;">Checkout</h1>
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model.trim="order.lastName" />
                </p>
                <p>
                    <strong>Phone Number:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.phoneNumber" />
                </p>
                <p><strong>Address:</strong><input v-model="order.address" /></p>
                <p><strong>City:</strong><input v-model="order.city" /></p>
                <p><strong>State:</strong>
                    <select v-model="order.state">
                        <option disabled value=''>State</option>
                        <option v-for="(state, key) in states" :value="state">{{ key }}</option>
                    </select>
                </p>
                <p><strong>Zip/Postal Code:</strong><input v-model.number="order.zip" type="number" /></p>

                <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                        v-bind:false-value="order.dontSendGift">
                    <label for="gift"> Ship As Gift?</label>
                </p>
                <p><input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">
                        Home
                    </label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">
                        Business
                    </label>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{ order.firstName }}</p>
                <p>Last Name: {{ order.lastName }}</p>
                <p>Address: {{ order.address }}</p>
                <p>City: {{ order.city }}</p>
                <p>Zip: {{ order.zip }}</p>
                <p>State: {{ order.state }}</p>
                <p>Method: {{ order.method }}</p>
                <p>Gift: {{ order.gift }}</p>
                <button v-on:click="submitform" :disabled='!isFormValid'>Place Order</button>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        // Initializing Vue
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: "Radiant sports equipment",
                showProduct: true,
                products: products,

                cart: [],
                sortCriteria: 'default',
                searchQuery: '',
                originalProducts: [],
                order: {
                    firstName: '',
                    lastName: '',
                    phoneNumber:'',
                    address: '',
                    city: '',
                    state: '',
                    zip: '',
                    gift: false,
                    sendGift: true,
                    dontSendGift: false,
                    method: '',
                },
                states: {
                    AL: 'Alabama',
                    AR: 'Arkansas',
                    CA: 'California',
                    NV: 'Nevada',
                    // Add more states as needed
                },
            },
            methods: {
                // Function to add products to cart
                addToCart: function (product) {
                    if (product.availableInventory > 0) {
                        this.cart.push(product.id);
                    }
                },

                removeFromCart(product) {
      const index = this.cart.lastIndexOf(product.id);
      if (index > -1) {
        this.cart.splice(index, 1);
      }
    },

                // Function to sort products
                sortProducts: function () {
                    switch (this.sortCriteria) {
                        case 'location':
                            this.sortBylocation();
                            break;
                        case 'title':
                            this.sortByTitle();
                            break;
                        case 'price':
                            this.sortByPrice();
                            break;
                        default:
                            // Default sorting (you can implement your default sorting logic)
                            break;
                    }
                },
                sortBylocation: function () {
                    this.products.sort((a, b) => {
                        return a.location.localeCompare(b.location);
                    });
                },
                sortByTitle: function () {
                    this.products.sort((a, b) => {
                        return a.subject.localeCompare(b.subject);
                    });
                },
                sortByPrice: function () {
                    this.products.sort((a, b) => {
                        return a.price - b.price;
                    });
                },
                // End of Function to sort products
                
                performSearch: function () {
                    if (this.searchQuery.trim() === '') {
                        this.products = this.originalProducts.slice();
                    } else {
                        const query = this.searchQuery.toLowerCase();
                        this.products = this.originalProducts.filter(product => {
                            return (
                                product.subject.toLowerCase().includes(query) ||
                                product.location.toLowerCase().includes(query) ||
                                product.price.toString().includes(query)
                            );
                        });
                    }
                },
                clearSearch: function () {
                    this.searchQuery = '';
                    this.products = this.originalProducts.slice();
                },
                showCheckout: function () {
                    this.showProduct = !this.showProduct;
                },
                submitform: function () {
                    if (this.isFormValid) {
                        alert('Order submitted!');
                    } else {
                        alert('Invalid details.');
                    }
                },
                cartCount: function (id) {
                    return this.cart.filter(itemId => itemId === id).length;
                },
                canAddToCart: function (product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
            },
            computed: {

                
                cartItemCount: function () {
                    return this.cart.length || '';
                },
                checkoutButtonText: function () {
                    return this.showProduct ? `${this.cartItemCount} Checkout` : 'Back to Products';
                },

                cartDetails() {
      const uniqueProductIds = Array.from(new Set(this.cart));
      return uniqueProductIds.map((productId) => {
        const product = this.products.find((product) => product.id === productId);
        const quantity = this.cart.filter((id) => id === productId).length;
        return {
          ...product,
          quantity,
          total: quantity * product.price,
        };
      });
    },

                isFormValid() {
                    return /^[a-zA-Z]+$/.test(this.order.firstName) && /^[a-zA-Z]+$/.test(this.order.lastName) && /^[0-9]+$/.test(this.order.phoneNumber)
                }
            },
            mounted: function () {
                this.originalProducts = this.products.slice();
            },
        });
    </script>
</body>

</html>
